.App {
  text-align: center;
  background: url(https://zochil.mn/static/media/bg1.2c7122ce.jpg) center
    center;
  animation: animate-left-to-right 60s linear infinite; 

}

.App{ 
  font-family: "Nunito",sans-serif;
  font-size: 16px;
  color:#161c2d;
}

/* .it-home{
  background: url("https://zochil.mn/static/media/bg1.2c7122ce.jpg") center center;
} */


.container{
  max-width: 1140px;
}

.container{
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

div {
  display: block;
}

.title{
  font-size: 18px!important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito",sans-serif;
  line-height: 1.5;
  font-weight: 600;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

p {
  line-height: 1.6;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.bg{
  /* background-image: url(https://zochil.mn/static/media/bg1.2c7122ce.jpg);
    background-size: cover;
    align-self: center;
    position: relative;
    background-position: 50%;

    transition:all 2s ease;
    */
}